#header {
	display: flex;
}
#headerTitle {
	flex-grow: 1;
}
#header input button {
	padding: 1em;
}
#employeeThumbnailContainer {
	display: grid;
	justify-items: center;
	margin-top: 30px;
}
@media (min-width: 600px) {
	#employeeThumbnailContainer {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 768px) {
	#employeeThumbnailContainer {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
}